.places {
  position: relative;
  text-align: center;
}

.places h2 {
  margin-bottom: 70px;
}

.places-swiper {
  text-align: left;
  margin-left: 15px;
}

@media(min-width: 1024px){
  .places-swiper{
    margin-left: 95px;
  }
}

.places-slide {
  position: relative;
}

.places-slide img {
  border-radius: 10px;
}

.place-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  background: rgba(0 0 0 / 0.7);
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media(min-width: 1024px){
  .place-info{
    padding: 40px;
  }
}

.place-title {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 5px;
}

@media(min-width: 1024px){
  .place-title{
    font-size: 25px;
  }
}

.place-country {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.places-prev,
.places-next {
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 26px;
  background-color: transparent;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  z-index: 1000;
  transform: translate(100%, 50%);
}

@media(min-width: 768px){
  .places-prev,
  .places-next{
    display: flex;
  }
}

.places-next {
  left: unset;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  transform: translate(-100%, 50%);
}

.places-slide.swiper-slide-next:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
